<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>
    <h1>Inventario</h1>
    <table>
        <tr>
          <th>Name</th>
          <th>quality</th>
          <th>Sell_in</th>
        </tr>
        {%block body %}
        {% for item in lista %}
        <!-- <tr>{{item}}</tr> -->
        
        <tr>
        <td>{{item.name}}</td>
        <td>{{item.quality}}</td>
        <td>{{item.sell_in}}</td>
        </tr>
        {%endfor%}
        {% endblock %}
    </table>
</body>
</html>